*{
     padding: 0;
     margin: 0;
     text-decoration: none;
}
 .pagina{
     position: relative;
     height: 100%;
}
 .p2 ul{
     width: 60rem;
     margin: 0 auto;
     padding-top: 3.125rem;
}
 html, body{
     height: 100%;
}
 nav{
     position: fixed;
     height: 2.188rem;
     top: 0;
     left: 0;
     right: 0;
     z-index: 5000;
     background: white;
}
 nav li{
     margin: 0.063rem 1.25rem;
     display: inline-block;
     font-family: Impact, Haettenschweiler, 'Arial Na rrow Bold', sans-serif;
     color: black;
     letter-spacing: 0.063rem;
     font-size: 20pt;
}
 h1{
     padding-top: 3.125rem;
     text-align: center;
     display: block;
     top: 50%;
     left:50%;
     transform: translate(-50%, -50%);
     font-family: "Marcellus", serif;
     font-size: 9.375rem;
     color: black;
}
 h2{
     padding-top: 15.625rem;
     text-align: center;
     display: block;
     top: 50%;
     left:50%;
     transform: translate(-50%, -50%);
     font-family: "Afacad Flux", serif;
     font-size: 3.75rem;
     color: black;
}
 .p1{
     background: rgb(0, 31, 111);
}
 .p1 h1{
     font-family: "League Gothic", serif;
     color: white;
}
 .p1 h2{
     color: white;
}
 .p2 li{
     background: rgb(255, 252, 244);
     width: 20.625rem;
     height: 28.75rem;
     border-radius: 2%;
     float: left;
     text-align: left;
     list-style: none;
     line-height: 32.5rem;
     color: rgb(0, 0, 168);
     text-decoration: none;
     margin: 0.625rem;
     box-shadow: 0 0.125rem 0.5rem 0px rgb(91, 91, 91);
}
 .p2 li h1{
     font-size: 0.938rem;
     font-family: Helvetica, sans-serif;
     position: relative;
     left: 3.125rem;
     top: 19.313rem;
}
 .p2 li h2{
     font-size: 0.938rem;
     font-family: Helvetica, sans-serif;
     position: relative;
     left: 17.5rem;
     top: -22.5rem;
}
 .rectangle{
     background: #E6E6FA;
     width: 18.75rem;
     height: 18.75rem;
     border-radius: 2%;
     margin: 0.625rem;
     position: relative;
     bottom: 83.438rem;
     left: 0.313rem;
}
 .r1{
     background: #E6E6FA;
}
 .r2{
     background: #6c3;
}
 .r3{
     background: rgb(246, 238, 13);
}
 .r4{
     background: rgb(156, 100, 5);
}
 .r5{
     background: linear-gradient(30deg, hsl(240deg 100% 20%) 0%, hsl(6deg 98% 61%) 20%, hsl(85deg 87% 64%) 40%, hsl(182deg 100% 46%) 60%, hsl(217deg 100% 70%) 80%, hsl(330deg 99% 47%) 100%);
}
 .r6{
     background: rgb(64, 99, 9);
}
 .r7{
     background: rgb(35, 35, 249);
}
 .r8{
     background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(181,0,0,1) 50%, rgba(0,3,222,1) 100%);
}
 .r9{
     background: rgb(135, 3, 3);
}
 .p2 li:hover{
     background: rgb(255, 252, 244);
     color: rgb(104, 104, 104);
     position: relative;
     bottom: 0.5rem;
     right: 0.625rem;
     box-shadow: 0 0.625rem 0.938rem 0 gray;
}
 .p2{
     margin: 0.625rem;
}
 h1 :nth-child(2){
     color: #6c3;
     font-family: Georgia, 'Times New Roman', Times, serifn 
}
 .p3{
     background: rgb(91, 91, 91);
     position: relative;
     overflow: hidden;
     width: 100%;
     height: 100%;
     top: 18.125rem;
}
 .p3 img{
     height: 6.25rem;
     width: 6.25rem;
     position: relative;
     float:left;
     margin: 0 3.438rem;
     text-align: center;
}
 .p3 h3{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 15pt;
}
 .redes{
     margin: 0 auto;
     height: 8.125rem;
     width: 30%;
     text-align: left;
     position: relative;
     top: 18.75rem;
}
 .insta{
     margin: 0 auto;
}
 .telefon{
     margin: 0 auto;
}
 .correu{
     margin: 0 auto;
}
 .xarxes{
     height: auto;
}
 .primer li h1{
     position: relative;
     bottom: 3.125rem;
     left: 3.75rem;
}
 .segon li h1{
     position: relative;
     bottom: 3.125rem;
     left: 2.875rem;
}
 .tercer li h1{
     position: relative;
     bottom: 3.125rem;
     left: 4rem;
}
 .quart li h1{
     position: relative;
     bottom: 3.125rem;
     left: 2.938rem;
}
 .cinque li h1{ 
     position: relative;
     bottom: 3.125rem;
     left: 3.75rem;
}
 .sise li h1{
     position: relative;
     bottom: 3.125rem;
     left: 3.5rem;
}
 .sete li h1{
     position: relative;
     bottom: 3.125rem;
     left: 3.5rem;
}
 .cara li h1{
     position: relative;
     bottom: 3.125rem;
     left: 2.875rem;
}
 .vuite li h1{
     position: relative;
     bottom: 3.125rem;
     left: 3.938rem;
}
 .p2 li h2{
     position: relative;
     bottom: 3.125rem;
     left: 18.563rem;
}
 @media screen and (max-width: 480px) {
     .p1 h1{
         font-size: 60pt;
    }
     .p1 h2{
         font-size: 20pt;
    }

    .p2{
        text-align: center;
    }
     nav{
         height: 25px;
    }
     nav li{
         font-size: 15pt;
    }
     .p2 li{
         width: 8.125rem;
         height: 12.5rem;
         text-align: center;
         line-height: 32.5rem;
         margin: 0.625rem;
         box-shadow: 0 0.125rem 0.5rem 0 rgb(91, 91, 91);
    }
     .p2 li h1{
         font-size: 0.5rem;
         top: 6.25rem;
    }
     .p2 li h2{
         font-size: 0.5rem;
         left: 6.5rem;
         top: -35.625rem;
    }
     .rectangle{
         width: 6.25rem;
         height: 6.25rem;
         border-radius: 2%;
         margin: 0.625rem;
         position: relative;
         bottom: 83.438rem;
         left: 0.313rem;
    }
     .primer li h1{
         position: relative;
         bottom: 3.125rem;
         left: 2.813rem;
    }
     .segon li h1{
         position: relative;
         bottom: 3.125rem;
         left: 2.25rem;
    }
     .tercer li h1{
         position: relative;
         bottom: 3.125rem;
         left: 3rem;
    }
     .quart li h1{
         position: relative;
         bottom: 3.125rem;
         left: 2.25rem;
    }
     .cinque li h1{
         position: relative;
         bottom: 3.125rem;
         left: 2.813rem;
    }
     .sise li h1{
         position: relative;
         bottom: 3.125rem;
         left: 2.625rem;
    }
     .sete li h1{
         position: relative;
         bottom: 3.125rem;
         left: 2.375rem;
    }
     .cara li h1{
         position: relative;
         bottom: 3.125rem;
         left: 2.25rem;
    }
     .vuite li h1{
         position: relative;
         bottom: 3.125rem;
         left: 2.938rem;
    }
     .p3 img{
         height: 3.125rem;
         width: 3.125rem;
         position: relative;
         float:left;
         margin: 0 3.438rem;
         text-align: center;
    }
     .p3 h3{
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         font-size: 8pt;
         text-align: center;
    }
}